@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains";
  src: url("../public/fonts/JetBrainsMono.ttf");
}

@layer base {
  h1 {
    @apply text-primary;
  }
}

@layer components {
  .navItem {
    @apply flex flex-row p-1 px-4 mb-3 mr-2 rounded-r-lg cursor-pointer;
    background-size: 200% 100%;
    transition: background-position 0.25s;
    transition-timing-function: ease-out;
  }
  .navItem:hover {
    background-position: -100% 0;
  }

  .dark .navItem {
    background-image: linear-gradient(to right, #1e2434 50%, #151b2c 50%);
  }
  .dark .navItem.selected {
    background-image: linear-gradient(to right, #5a6785 50%, #5a6785 50%);
  }
  .light .navItem {
    background-image: linear-gradient(to right, #edf2f7 50%, #ffffff 50%);
  }
  .light .navItem.selected {
    background-image: linear-gradient(to right, #ffffff 50%, #ffffff 50%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dark {
  --color-bg-primary: #11192f;
  --color-bg-secondary: #1e2434;
  --color-text-primary: #cdcdcf;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #5a5a5c;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}
